.footer {
    background-color: #1D2530;
}

.footer__block {
    display: flex;
    align-items: stretch;
    padding: 104px 0;
}

.footer-logo {
    width: 87px;
    height: 93px;
}

.footer__wrapper {
    display: flex;
    align-items: stretch;
    margin-left: 389px;
}

.footer__wrapper div:nth-child(2) {
    margin-left: 126px;
}

.footer__wrapper h2 a {
    font-weight: 500;
    font-size: 20px;
    line-height: 30px;
    font-feature-settings: 'salt'on, 'liga'off;
    color: #F4F5F7;
    margin-bottom: 32px;
    text-decoration: none;
    display: inline-block;
}

.footer__wrapper p a {
    text-decoration: none;
    font-weight: 400;
    font-size: 16px;
    line-height: 36px;
    font-feature-settings: 'salt'on, 'liga'off;
    color: #EEEFF4;
}

.footer__wrapper p a:hover {
    color: #18E1F7;
}

.footer__bottom {
    background: #141B23;
    padding: 25px 0;
}

.footer__bottom p {
    font-weight: 400;
    font-size: 14px;
    line-height: 24px;
    font-feature-settings: 'salt'on, 'liga'off;
    color: #D9DBE1;
}

@media only screen and (max-width:843px) {
    .container {
        width: 90%;
        max-width: 843px;
    }

    .footer__block {
        padding: 60px 0;
    }

    .footer-logo {
        width: 87px;
        height: 95px;
    }

    .footer__wrapper {
        margin-left: 152px;
    }
}

@media only screen and (max-width:421px) {
    .container {
        width: 90%;
        max-width: 421px;
    }

    .footer__block {
        padding: 60px 0;
    }

    .footer__wrapper {
        margin-left: 33px;
        display: flex;
        flex-wrap: wrap;
        align-items: center;
    }

    .footer__wrapper div:nth-child(2) {
        margin: 0;
    }
}